<div class="container-fluid img1">
  <div class="row">
    <div class="col-sm-8 d-flex justify-content-center p-5">
      <div>
      <img class="img" src="{{info[0].imgsrc}}" alt="image">
      </div>
    </div>
    <div class="col-sm-4 p-5 text-white">
      <p class="sz">{{info[0].name}}</p>
      <h2>Category:</h2> <h5>{{info[0].type}}</h5>
      <br>
      <h2>Product Details: </h2> <h5>{{info[0].details}}</h5>
      <br>
      <button type="button" class="btn border-white text-white">Add To Cart</button>
    </div>
  </div>
</div>
