<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 p-5">
      <div class="d-flex p-3 border border-dark"><!--ngfor-->
      <div class="col-sm-4 ">
        <img src="ed" alt="imaeh">
      </div>
      <div class="col-sm-3">
        <h4>name: asd</h4>
        <h4>Price:1000</h4>
      </div>
      <div class="col-sm-3 d-flex justify-content-center">
        <button class="aa">-</button>
        <h4>1</h4>
        <button class="aa">+</button>
      </div>
      <div class="col-sm-2">
        <button>Delete</button>
      </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center border-left border-dark">
      <div class="m-5 p-3 border border-dark">
        <h1>Price Details</h1>
        <hr>
        <h4>Price : 0</h4>
        <h4>Delivery : 100 </h4>
        <hr>
        <h4>Total Payable Amount : 100</h4>
        <hr>
        <h5>Fastest delivery with us and apply coupons too!!!</h5>
      </div>
  </div>
</div>
