<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 p-5" >
      <div class="d-flex p-3 border border-dark" *ngFor="let p of prod">
      <div class="col-sm-4 ">
        <img src="{{p.products.image}}" alt="imaeh" class="jj">
      </div>
      <div class="col-sm-3">
        <h5>{{p.products.name}}</h5>
        <h5>{{p.products.price}}</h5>
      </div>
      <div class="col-sm-3 d-flex justify-content-center">
        <button class="aa" (click)="removeOne(p.products.productId)">-</button>
        <h4>{{p.quantity}}</h4>
        <button class="aa" (click)="addOne(p.products.productId)">+</button>
      </div>
      <div class="col-sm-2">
        <button (click)="removeProduct(p.products.productId)">Delete</button>
      </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center border-left border-dark">
      <div class="m-5 p-3 border border-dark">
        <h1>Price Details</h1>
        <hr>
        <h5>{{total}}</h5>
        <h5>Delivery : 100 </h5>
        <hr>
        <h5>Total Payable Amount : {{total+100}}</h5>
        <hr>
        <h5>Fastest delivery with us and apply coupons too!!!</h5>
        <div class="p-5 d-flex justify-content-center">
          <button class="bg-dark text-white" (click)="checkOut()">Place Order</button>
        </div>
      </div>
  </div>
</div>
</div>
