
<div class="container-fluid may10">
  <div class="row may11">
    <div class="col-sm-3 may12 text-center font-weight-bolder" >
      <div class="pt-5"> <h1>Price</h1></div>
      <div class="text-left p-3 ml-5">
        <form>
          <div class="checkbox">
            <label><input type="checkbox"> 0 - 499</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> 500 - 999</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> 1000 - 3000</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> 3000 over</label>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-9 d-flex flex-wrap">
      <div *ngFor="let s of products" class="mayank1">

        <img src="{{s.image}}" class="mayank2 img-rounded">
        <h3>{{s.name}}</h3>
        <!--<p>{{s.price}}</p>-->

      </div>
    </div>
  </div>


</div>
