#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 630px;
  border: 2px solid white;
  border-radius: 10px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.im{
  height: 800px;
  background-image: url("../../assets/images/back2.jpg");
}
.imp{
  margin-top: 25px;
  color: white;
}
