<div class="container-fluid bb">
<div class="container-fluid pt-5">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <img src="../../assets/images/clothes2.jpg" alt="pic" width="1350" height="530">
          <div class="carousel-caption">
            <h3>Accessories</h3>
            <p>At best prices</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <img src="../../assets/images/clothes1.jpg" alt="pic" width="1350" height="530">
          <div class="carousel-caption">
            <h3>Clothes</h3>
            <p>Latest design</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <img src="../../assets/images/clothes.jpg" alt="pic" width="1350" height="530">
          <div class="carousel-caption">
            <h3>All brands</h3>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</div>
<div class="container-fluid p-5">
<div class="row p-3">
  <div class="col-sm-6 d-flex justify-content-center">
    <div class="card" style="width:400px">
      <img class="card-img-top hh" src="../../assets/images/home1.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Clothing</h4>
        <p class="card-text">Buy latest clothes on best prices</p>
        <a routerLink="/products/clothing" class="btn bb text-white">Shop</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 d-flex justify-content-center">
    <div class="card" style="width:400px">
      <img class="card-img-top hh" src="../../assets/images/home2.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Sports</h4>
        <p class="card-text">Buy fitness equipment and other stuff of best quality</p>
        <a routerLink="/products/footwear" class="btn bb text-white">Shop</a>
      </div>
    </div>
  </div>
</div>
  <div class="row p-3">
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width:400px" >
        <img class="card-img-top" src="../../assets/images/home3.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Books</h4>
          <p class="card-text">Buy the best seller books and novels</p>
          <a routerLink="/products/books" class="btn bb text-white">Shop</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/images/home4.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Electronics</h4>
          <p class="card-text">Laptops, desktops, printers, routers, and more.</p>
          <a routerLink="/products/electronics" class="btn bb text-white">Shop</a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<div class="container-fluid bb text-white border-top">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="pt-2">Contact us</h2>
      <h5><pre class="text-white">Email : mayank94646@gmail.com</pre></h5>
      <h5><pre class="text-white">Mobile no. : 8284950578</pre></h5>
    </div>
  </div>
</div>
